@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

:root {
  --noir: #0A0A0A;
  --carte: #010130;
  --principal: #D4AF37;
  --clair: #F0D78C;
  --blanc: #FFFFFF;
  --gris: #E5E5E5;
  --gris-clair: #A0A0A0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--carte);
    padding: 25px;
}
header span{
    color: var(--principal);
}
.liens{
    display: flex;
    gap: 30px; ;
}
.liens a{
    text-decoration: none;
    color: goldenrod;
}
header button{
    height: 40px;
    width: 150px;
    background-color: var(--principal);
    border: none;
    color: var(--noir);
    border-radius: 25px;
}
header button:hover{
    box-shadow: 0 0 15px 0 #D4AF37 ;
}
.acceuille{
  background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7)), url('assets/images/1.jpg') center/cover no-repeat;
  height: 100vh; 
  display: flex;
  align-items: center;
  padding: 0 8%;
  color: #FFFFFF;
}
.hero{
    max-width: 600px;
}
.hero h1{
   font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #D4AF37;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero p{
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #A0A0A0; 
  line-height: 1.6;
  margin-bottom: 30px;
}
.btn{
  display: flex;
  gap: 15px;
}
.Découvrir{
  background: var(--principal);
  color: var(--noir);
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.Découvrir:hover{
    background-color: var(--clair);
}
.réserver{
  background: transparent;
  color: #D4AF37;
  padding: 12px 25px;
  border: 1px solid #D4AF37;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.réserver:hover{
    background: #d4af3788;
    color: #0A0A0A;
}
.services{
background: #121212; 
  padding: 80px 8%;
  text-align: center;
}
.services h2{
 font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 80px;
}
.card{
    background: #1E1E1E; 
  border-radius: 12px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s;
}
.card:hover{
    transform: translateY(-5px);
}
.card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.elementCard{
    padding: 20px;
}
.elementCard h3{
      font-size: 1.2rem;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.elementCard p{
    font-size: 0.9rem;
  color: #A0A0A0;
  margin-bottom: 15px;
}
.elementCard a{
     color: #D4AF37;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}
.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(82, 82, 82);
  padding: 20px;
  gap: 30px;
}
.stat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.stat span {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #D4AF37; 
  font-weight: 700;
}

.stat p {
  color: #A0A0A0;
  font-size: 0.85rem;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.temoignage{
     background: #121212;
  padding: 80px 8%;
}
.temoignage-tete{
     display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.temoignage-tete h2{
    font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.temoignage-tete p{
    color: #A0A0A0;
  margin-top: 5px;
}
.lignes button{
    background: #1E1E1E;
  border: 1px solid #333;
  color: #A0A0A0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}
.temoignage-grille{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.temoignage-card{
     background: #1E1E1E;
  padding: 25px;
  border-radius: 12px
}
.etoile{
     color: #D4AF37;
  margin-bottom: 15px;
  font-size: 1.1rem;
}
.temoignage-card p{
    color: #E5E5E5;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 20px;
}
.client img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.client h4 {
  color: #FFFFFF;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
footer {
  background: #0A0A0A; 
  padding: 60px 8%;
}
.footer-grille {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}
.footer-col h3 {
  font-family: 'Playfair Display', serif;
  color: #D4AF37;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.footer-col h4 {
  color: #D4AF37;
  font-size: 0.9rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-col p {
  color: #A0A0A0;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer-col a {
  display: block;
  color: #A0A0A0;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #D4AF37;
}


